
.userlist_owner {
	font-family: 'Ac437 ACM VGA 8x16', 'Video Terminal Screen', 'Cascadia Mono', 'CaskaydiaCove Nerd Font', Consolas, Courier, monospace;
  animation: nyan 1s infinite;
  font-style: bold;
}

@keyframes nyan {
    0% {
        color: #5bcffb;
    }
    20% {
        color: #f5abb9;
    }
    50% {
        color: #f0eded;
    }
    80% {
        color: #f5abb9;
    }
    100% {
      color: #5bcffb;
   }
}

.userlist_owner:hover {
 font-family: 'Ac437 ACM VGA 8x16', 'Video Terminal Screen', 'Cascadia Mono', 'CaskaydiaCove Nerd Font', Consolas, Courier, monospace; 
  font-style: bold;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
}